
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Stock_image</title> 
</head> 
<body> 
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Upload</button> 
        <img src="{{ MEDIA_URL }}/NCR.png" /> <!--style="width:500px;height:600px;"-->
        <img src="{{ MEDIA_URL }}/BLK.png" />
        <img src="{{ MEDIA_URL }}/EFX.png" />
        <img src="{{ MEDIA_URL }}/COF.png" />
        <img src="{{ MEDIA_URL }}/ACN.png" />
    </form> 
</body> 
</html> 
